
/* Variables */



/*====Classes====*/
.section{
    padding: 2rem 0 4rem; 
}





/*====Home====*/
.home_grid{
    gap: 1rem;
}

.home_items{ 
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home_socials{
    display:grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
/* Social Icons */
.social_icon{
    font-size: 1.25rem;
    /* color: Add a color variable maybe? */
}


.social_icon:hover{
    /* color: Add a color variable? */
}

.blob{
    width:400px;
    fill:#00A2A4;
}

.blob_picture{
    width:100px;
}

.home_info{
    grid-column: 1/3;
}

.home_title{
    /* font-size: Figure out size and color? */
}

.home_roles{
    /* font-size: Figure out size and color?*/

}

.home_descript{
    /* Figure out size and color? */
}
